
.img-vert-container-modelador {
	padding-bottom: 130%;
}

.img-vert-container-ling-duloren {
	padding-bottom: 113%;
}

.img-vert-container-ling-recco {
	padding-bottom: 152%;
}

.img-vert-container-cam-recco {
	padding-bottom: 143%;
}
