/* Medium devices (desktops, 992px and up) */
@media(max-width:767px){
	#mainCarousel img {
		width: 100%;
		height: 40vw;
	}
}
@media(min-width:768px){
	#mainCarousel img {
		width: 100%;
		height: 285px
	}
}
@media(min-width:992px){
	#mainCarousel img {
		width: 100%;
		height: 370px
	}
}
@media(min-width:1200px){
	#mainCarousel img {
		width: 100%;
		height: 450px
	}
}
