
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 row-pad-10" ng-repeat="product in products">
		<div class="media">
			<div class="col-xs-12 col-pad-0">
					<div class="media-body percentual-pad-5">
						<h2 class="media-heading text-center">{{product.name}}</h2>
					</div>
			</div>
			<div class="col-xs-12 col-pad-0">
					<a href="#">
					<div class="img-horz-container">
						<img class="custom-img-responsive" ng-src={{product.image.path}} alt={{product.name}}>
					</div>
					</a>
			</div>
		</div>
	</div>
</div>
