
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
					<div class="media-body percentual-pad-5">
						<h2 class="media-heading text-center">{{media4.title}}</h2>
					</div>
			</div>
			<div class="col-xs-12 col-pad-0">
					<a href="#">
					<div class="img-horz-container">
						<img class="custom-img-responsive" ng-src={{media4.image}} alt={{media4.title}}>
					</div>
					</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
					<div class="media-body percentual-pad-5">
						<h2 class="media-heading text-center">{{media5.title}}</h2>
						<p>{{media5.description}}</p>
					</div>
			</div>
			<div class="col-xs-12 col-pad-0">
					<a href="#">
					<div class="img-horz-container">
						<img class="custom-img-responsive" ng-src={{media5.image}} alt={{media5.title}}>
					</div>
					</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
					<div class="media-body percentual-pad-5">
						<h2 class="media-heading text-center">{{media6.title}}</h2>
						<p>{{media6.description}}</p>
					</div>
			</div>
			<div class="col-xs-12 col-pad-0">
					<a href="#">
					<div class="img-horz-container">
						<img class="custom-img-responsive" ng-src={{media6.image}} alt={{media6.title}}>
					</div>
					</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
					<div class="media-body percentual-pad-5">
						<h2 class="media-heading text-center">{{media7.title}}</h2>
					</div>
			</div>
			<div class="col-xs-12 col-pad-0">
					<a href="#">
					<div class="img-horz-container">
						<img class="custom-img-responsive" ng-src={{media7.image}} alt={{media7.title}}>
					</div>
					</a>
			</div>
		</div>
	</div>
</div>
