<div class="row" ng-controller="HomeRow1Controller">
	<div class="col-xs-12 col-sm-4 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
				  <div class="media-body percentual-pad-5">
					  <h2 class="media-heading">{{media1.title}}</h2>
					  <p>{{media1.description}}</p>
					  <p><a class="btn btn-danger btn-xs" href="#">Saiba Mais &raquo;</a></p>
				  </div>
			</div>
			<div class="col-xs-12 col-pad-0">
				  <a href="#">
					<div class="img-horz-container">
					  <img class="custom-img-responsive" ng-src={{media1.image}} alt={{media1.title}}>
					</div>
				  </a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
				  <div class="media-body percentual-pad-5">
					  <h2 class="media-heading">{{media2.title}}</h2>
					  <p>{{media2.description}}</p>
						<br>
					  <p><a class="btn btn-danger btn-xs" href="#">Saiba Mais &raquo;</a></p>
				  </div>
			</div>
			<div class="col-xs-12 col-pad-0">
				  <a href="#">
					<div class="img-horz-container">
					  <img class="custom-img-responsive" ng-src={{media2.image}} alt={{media2.title}}>
					</div>
				  </a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 row-pad-10" >
		<div class="media">
			<div class="col-xs-12 col-pad-0">
				  <div class="media-body percentual-pad-5">
					  <h2 class="media-heading">{{media3.title}}</h2>
					  <p>{{media3.description}}</p>
						<br>
					  <p><a class="btn btn-danger btn-xs" href="#">Saiba Mais &raquo;</a></p>
				  </div>
			</div>
			<div class="col-xs-12 col-pad-0">
				  <a href="#">
					<div class="img-horz-container">
					  <img class="custom-img-responsive" ng-src={{media3.image}} alt={{media3.title}}>
					</div>
				  </a>
			</div>
		</div>
	</div>
</div>
